@media (max-width:768px) {
    .hide-xs {
        display: none !important
    }
}

@media (min-width:768px) and (max-width:1025px) {
    .hide-sm {
        display: none !important
    }
}

@media (min-width:1025px) and (max-width:1600px) {
    .hide-md {
        display: none !important
    }
}

@media (min-width:1600px) {
    .hide-lg {
        display: none !important
    }
}