<f:layout name="Default" />
<f:section name="Header" />
<f:section name="Main">
	<div id="c{uid}" class="jar-column-row-accordion {class} {space_before_class} {space_after_class}" style="{style}">		
		<f:if condition="{columns}">
			<f:for each="{columns}" as="column" iteration="iteration" key="key">
				<h2>{column.title}</h2>									
				<f:if condition="{column.content}">
					<f:for each="{column.content}" as="ce">
						{ce -> f:format.raw()}
					</f:for>
				</f:if>
			</f:for>
		</f:if>
	</div>
</f:section>




