<f:layout name="Default" />
<f:section name="Header" />
<f:section name="Main">	
	<f:if condition="{focusAreaCssStyling}">
        {focusAreaCssStyling -> f:format.raw()}
    </f:if>
	<div id="c{uid}" class="jar-column-row {class}" style="{style} {bg}">
		<div class="{content_width}">
			<div class="row {space_before_class} {space_after_class} justify-content-{horizontal_alignment}">
				<f:if condition="{columns}">
					<f:for each="{columns}" as="column" iteration="iteration" key="key">
						<div data-index="{iteration.index}" id="col-{iteration.index}-{uid}" class="{column.cssClass} {column.orderClass} {column.offsetClass} {f:if(condition: column.additional_col_class, then: column.additional_col_class)}" style="{column.backgroundColor}">
							<f:if condition="{column.content}">
								<f:for each="{column.content}" as="ce">									
									{ce -> f:format.raw()}
								</f:for>
							</f:if>
						</div>
					</f:for>
				</f:if>
			</div>
		</div>
	</div>
</f:section>
