{namespace v=FluidTYPO3\Vhs\ViewHelpers}
{namespace flux=FluidTYPO3\Flux\ViewHelpers}
{namespace jcl=Jar\Columnrow\ViewHelpers}

<f:layout name="Content" />

<f:section name="Configuration">		
	<flux:form id="j77_row" label="LLL:EXT:jar_columnrow/Resources/Private/Language/locallang_be.xlf:headline" description="LLL:EXT:jar_columnrow/Resources/Private/Language/locallang_be.xlf:description">
		<flux:form.option.icon value="jar-column-row-content-icon" />
		<flux:form.option.group value="Layout" />
		<f:comment>Spalten Einstellungen - Start</f:comment>
			<flux:form.sheet name="columnmanagement" label="LLL:EXT:jar_columnrow/Resources/Private/Language/locallang_be.xlf:column_manager">
				<flux:field.checkbox name="extended" label="LLL:EXT:jar_columnrow/Resources/Private/Language/locallang_be.xlf:column_extended" requestUpdate="1" />
				<flux:form.section name="columns" label="LLL:EXT:jar_columnrow/Resources/Private/Language/locallang_be.xlf:columns">				
					<flux:form.object name="column" label="LLL:EXT:jar_columnrow/Resources/Private/Language/locallang_be.xlf:column">	

						<flux:field.select label="LLL:EXT:jar_columnrow/Resources/Private/Language/locallang_be.xlf:column_width" name="col" displayCond="FIELD:extended:!=:1" items="{12:'[12] 100%',11:'[11] 91.66%',10:'[10] 83.33%',9:'[9] 75%',8:'[8] 66.66%',7:'[7] 58.33%',6:'[6] 50%',5:'[5] 41.66%',4:'[4] 33.33%',3:'[3] 25%',2:'[2] 16.66%',1:'[1] 8.33%'}" />
						<flux:field.select label="LLL:EXT:jar_columnrow/Resources/Private/Language/locallang_be.xlf:column_width_mobile" name="col-xs" displayCond="FIELD:extended:=:1" items="{12:'[12] 100%',11:'[11] 91.66%',10:'[10] 83.33%',9:'[9] 75%',8:'[8] 66.66%',7:'[7] 58.33%',6:'[6] 50%',5:'[5] 41.66%',4:'[4] 33.33%',3:'[3] 25%',2:'[2] 16.66%',1:'[1] 8.33%',-1: 'LLL:EXT:jar_columnrow/Resources/Private/Language/locallang_be.xlf:do_not_show'}" />
						<flux:field.select label="LLL:EXT:jar_columnrow/Resources/Private/Language/locallang_be.xlf:column_width_tablet" name="col-sm" displayCond="FIELD:extended:=:1" items="{0:'LLL:EXT:jar_columnrow/Resources/Private/Language/locallang_be.xlf:item_automatic',12:'[12] 100%',11:'[11] 91.66%',10:'[10] 83.33%',9:'[9] 75%',8:'[8] 66.66%',7:'[7] 58.33%',6:'[6] 50%',5:'[5] 41.66%',4:'[4] 33.33%',3:'[3] 25%',2:'[2] 16.66%',1:'[1] 8.33%',-1: 'LLL:EXT:jar_columnrow/Resources/Private/Language/locallang_be.xlf:item_do_not_show'}" />
						<flux:field.select label="LLL:EXT:jar_columnrow/Resources/Private/Language/locallang_be.xlf:column_width_small_desktop" name="col-md" displayCond="FIELD:extended:=:1" items="{0:'LLL:EXT:jar_columnrow/Resources/Private/Language/locallang_be.xlf:item_automatic',12:'[12] 100%',11:'[11] 91.66%',10:'[10] 83.33%',9:'[9] 75%',8:'[8] 66.66%',7:'[7] 58.33%',6:'[6] 50%',5:'[5] 41.66%',4:'[4] 33.33%',3:'[3] 25%',2:'[2] 16.66%',1:'[1] 8.33%',-1: 'LLL:EXT:jar_columnrow/Resources/Private/Language/locallang_be.xlf:item_do_not_show'}" />
						<flux:field.select label="LLL:EXT:jar_columnrow/Resources/Private/Language/locallang_be.xlf:column_width_large_desktop" name="col-lg" displayCond="FIELD:extended:=:1" items="{0:'LLL:EXT:jar_columnrow/Resources/Private/Language/locallang_be.xlf:item_automatic',12:'[12] 100%',11:'[11] 91.66%',10:'[10] 83.33%',9:'[9] 75%',8:'[8] 66.66%',7:'[7] 58.33%',6:'[6] 50%',5:'[5] 41.66%',4:'[4] 33.33%',3:'[3] 25%',2:'[2] 16.66%',1:'[1] 8.33%',-1: 'LLL:EXT:jar_columnrow/Resources/Private/Language/locallang_be.xlf:item_do_not_show'}" />

						<flux:field.select name="order-xs" label="LLL:EXT:jar_columnrow/Resources/Private/Language/locallang_be.xlf:order_smartphone" displayCond="FIELD:extended:=:1" items="{0:'LLL:EXT:jar_columnrow/Resources/Private/Language/locallang_be.xlf:item_up_high',1:'2',2:'3',3:'4',4:'5',5:'6',6:'7',7:'8',8:'LLL:EXT:jar_columnrow/Resources/Private/Language/locallang_be.xlf:item_bottom'}" />
						<flux:field.select name="order-sm" label="LLL:EXT:jar_columnrow/Resources/Private/Language/locallang_be.xlf:order_tablet" displayCond="FIELD:extended:=:1" items="{0:'LLL:EXT:jar_columnrow/Resources/Private/Language/locallang_be.xlf:item_up_high',1:'2',2:'3',3:'4',4:'5',5:'6',6:'7',7:'8',8:'LLL:EXT:jar_columnrow/Resources/Private/Language/locallang_be.xlf:item_bottom'}" />
						<flux:field.select name="order-md" label="LLL:EXT:jar_columnrow/Resources/Private/Language/locallang_be.xlf:order_small_desktop" displayCond="FIELD:extended:=:1" items="{0:'LLL:EXT:jar_columnrow/Resources/Private/Language/locallang_be.xlf:item_up_high',1:'2',2:'3',3:'4',4:'5',5:'6',6:'7',7:'8',8:'LLL:EXT:jar_columnrow/Resources/Private/Language/locallang_be.xlf:item_bottom'}" />
						<flux:field.select name="order-lg" label="LLL:EXT:jar_columnrow/Resources/Private/Language/locallang_be.xlf:order_large_desktop" displayCond="FIELD:extended:=:1" items="{0:'LLL:EXT:jar_columnrow/Resources/Private/Language/locallang_be.xlf:item_up_high',1:'2',2:'3',3:'4',4:'5',5:'6',6:'7',7:'8',8:'LLL:EXT:jar_columnrow/Resources/Private/Language/locallang_be.xlf:item_bottom'}" />

						<flux:field.select name="offset-xs" label="LLL:EXT:jar_columnrow/Resources/Private/Language/locallang_be.xlf:offset_smartphone" displayCond="FIELD:extended:=:1" items="{0:'LLL:EXT:jar_columnrow/Resources/Private/Language/locallang_be.xlf:no_offset',1:'8.33%',2:'16.66%',3:'25%',4:'33.33%',5:'41.66%',6:'50%',7:'58.33%',8:'66.66%',9:'75%',10:'83.33%',11:'91.66%'}" />
						<flux:field.select name="offset-sm" label="LLL:EXT:jar_columnrow/Resources/Private/Language/locallang_be.xlf:offset_tablet" displayCond="FIELD:extended:=:1" items="{0:'LLL:EXT:jar_columnrow/Resources/Private/Language/locallang_be.xlf:no_offset',1:'8.33%',2:'16.66%',3:'25%',4:'33.33%',5:'41.66%',6:'50%',7:'58.33%',8:'66.66%',9:'75%',10:'83.33%',11:'91.66%'}" />
						<flux:field.select name="offset-md" label="LLL:EXT:jar_columnrow/Resources/Private/Language/locallang_be.xlf:offset_small_desktop" displayCond="FIELD:extended:=:1" items="{0:'LLL:EXT:jar_columnrow/Resources/Private/Language/locallang_be.xlf:no_offset',1:'8.33%',2:'16.66%',3:'25%',4:'33.33%',5:'41.66%',6:'50%',7:'58.33%',8:'66.66%',9:'75%',10:'83.33%',11:'91.66%'}" />
						<flux:field.select name="offset-lg" label="LLL:EXT:jar_columnrow/Resources/Private/Language/locallang_be.xlf:offset_large_desktop" displayCond="FIELD:extended:=:1" items="{0:'LLL:EXT:jar_columnrow/Resources/Private/Language/locallang_be.xlf:no_offset',1:'8.33%',2:'16.66%',3:'25%',4:'33.33%',5:'41.66%',6:'50%',7:'58.33%',8:'66.66%',9:'75%',10:'83.33%',11:'91.66%'}" />
						
						<flux:field.select name="col-background-choose" label="LLL:EXT:jar_columnrow/Resources/Private/Language/locallang_be.xlf:background" displayCond="FIELD:extended:=:1" items="{0:{0:'LLL:EXT:jar_columnrow/Resources/Private/Language/locallang_be.xlf:choose',1:'0'},1:{0:'LLL:EXT:jar_columnrow/Resources/Private/Language/locallang_be.xlf:background_color',1:'1'}}" requestUpdate="1"/>

						<f:variable name="bgColors" value="{jcl:tsconfig()}" />
						<flux:field.select name="col-background-color" label="LLL:EXT:jar_columnrow/Resources/Private/Language/locallang_be.xlf:background_color" displayCond="FIELD:col-background-choose:=:1" items="{bgColors}" requestUpdate="1"/>

						<flux:field.input name="col-user-background-color" label="LLL:EXT:jar_columnrow/Resources/Private/Language/locallang_be.xlf:custom_background" default="#FFFFFF" displayCond="FIELD:col-background-color:=:user" >
							<flux:wizard.colorPicker />
						</flux:field.input>
						<flux:field.input name="additionalColClass" label="LLL:EXT:jar_columnrow/Resources/Private/Language/locallang_be.xlf:add_column_class"/>

					</flux:form.object>
				</flux:form.section>

				<flux:grid>
					<flux:grid.row>
						<f:if condition="{columns}">
							<f:then>
								<f:for each="{columns}" as="sectionObject" iteration="iteration">
									<f:variable name="colSize" value="" />
									<f:variable name="colSizeClasses" value="" />
									
									<f:if condition="{extended} == 0">
										<f:then>
											<f:if condition="{sectionObject.column.col} != 12">
												<f:then>
													<f:variable name="colSize" value="{sectionObject.column.col}" />
													<f:variable name="colSizeClasses" value="col-12 col-md-{colSize}" />
												</f:then>
												<f:else>
													<f:variable name="colSize" value="{sectionObject.column.col}" />
													<f:variable name="colSizeClasses" value="col-{colSize}" />
												</f:else>
											</f:if>
										</f:then>
										<f:else>
											<f:if condition="{sectionObject.column.col-xs}">
												<f:variable name="colSize" value="{sectionObject.column.col-xs}" />
												<f:variable name="colSizeClasses" value="col-{colSize}" />
											</f:if>
											<f:if condition="{sectionObject.column.col-sm} != 0">
												<f:variable name="colSize" value="{sectionObject.column.col-sm}" />
												<f:variable name="colSizeClasses" value="{colSizeClasses} col-sm-{colSize}" />
											</f:if>
											<f:if condition="{sectionObject.column.col-md} != 0">
												<f:variable name="colSize" value="{sectionObject.column.col-md}" />
												<f:variable name="colSizeClasses" value="{colSizeClasses} col-md-{colSize}" />
											</f:if>
											<f:if condition="{sectionObject.column.col-lg} != 0">
												<f:variable name="colSize" value="{sectionObject.column.col-lg}" />
												<f:variable name="colSizeClasses" value="{colSizeClasses} col-lg-{colSize}" />
											</f:if>
										</f:else>
									</f:if>
									<f:variable name="label" value="{colSizeClasses}" />
									
									<f:if condition="{sectionObject.column.additionalColClass}">
										<f:variable name="label" value="{colSizeClasses} - {sectionObject.column.additionalColClass}" />
									</f:if>

									<flux:grid.column colspan="{colSize}" label="{label}" name="column_{iteration.cycle}" colPos="{iteration.cycle}"></flux:grid.column>
								</f:for>
							</f:then>
							<f:else>
								<flux:grid.column colspan="12" label="LLL:EXT:jar_columnrow/Resources/Private/Language/locallang_be.xlf:100_percent_nogrid" name="column_1" colPos="0"></flux:grid.column>
							</f:else>
						</f:if>
					</flux:grid.row>
				</flux:grid>
			</flux:form.sheet>
		<f:comment>Column settings - end</f:comment>
		
		<f:comment>Column settings extended - start</f:comment>
			<f:variable name="bg_items" value="{0:{0:'LLL:EXT:jar_columnrow/Resources/Private/Language/locallang_be.xlf:choose',1:'0'},1:{0:'LLL:EXT:jar_columnrow/Resources/Private/Language/locallang_be.xlf:background_color',1:'1'},2:{0:'LLL:EXT:jar_columnrow/Resources/Private/Language/locallang_be.xlf:background_graph',1:'2'}}" />
			<flux:form.variable name="bg_items" value="{bg_items}" />
			
			<f:variable name="breite_items" value="{0:{0:'LLL:EXT:jar_columnrow/Resources/Private/Language/locallang_be.xlf:content_width',1:'content'},1:{0:'LLL:EXT:jar_columnrow/Resources/Private/Language/locallang_be.xlf:full_width',1:'fullwidth'},2:{0:'LLL:EXT:jar_columnrow/Resources/Private/Language/locallang_be.xlf:reduced_content_width',1:'indented'}}" />
			<flux:form.variable name="breite_items" value="{breite_items}" />
			
			<flux:form.variable name="rowBackgroundImage" value="{rowBackgroundImage}" />
			<flux:form.variable name="additionalRowClass" value="{additionalRowClass}" />
			<flux:form.variable name="extended" value="{extended}" />
			
			<flux:form.sheet name="addmanagement" label="LLL:EXT:jar_columnrow/Resources/Private/Language/locallang_be.xlf:advanced_settings">
				<flux:field.select label="LLL:EXT:jar_columnrow/Resources/Private/Language/locallang_be.xlf:content_width" name="contentWidth" items="{breite_items}" />
				<flux:field.select label="LLL:EXT:jar_columnrow/Resources/Private/Language/locallang_be.xlf:background" name="selectBackground" items="{bg_items}" requestUpdate="1" />
				<flux:field.select label="LLL:EXT:jar_columnrow/Resources/Private/Language/locallang_be.xlf:background_color" name="rowBackground" items="{bgColors}" displayCond="FIELD:selectBackground:=:1" requestUpdate="1"/>
				<flux:field.input name="rowUserBackground" label="LLL:EXT:jar_columnrow/Resources/Private/Language/locallang_be.xlf:custom_background" default="#FFFFFF" displayCond="FIELD:rowBackground:=:user" >
					<flux:wizard.colorPicker />
				</flux:field.input>
				<flux:field.inline.fal label="LLL:EXT:jar_columnrow/Resources/Private/Language/locallang_be.xlf:background_graph" name="rowBackgroundImage" required="0" maxItems="1" minItems="0" displayCond="FIELD:selectBackground:=:2"/>
				<flux:field.input label="LLL:EXT:jar_columnrow/Resources/Private/Language/locallang_be.xlf:add_row_class" name="additionalRowClass" />
			</flux:form.sheet>
		<f:comment>Column settings extended - end</f:comment>
	</flux:form>
</f:section>


<f:section name="Preview">	
	<f:variable name="config">{jcl:columnMain(options: '{_all}',  preview:'1' )}</f:variable>
	<p><strong>Grid - Row</strong> (<f:translate key="LLL:EXT:jar_columnrow/Resources/Private/Language/locallang_be.xlf:width_of_content" />: {contentWidth} <f:if condition="{additionalRowClass}"> | <f:translate key="LLL:EXT:jar_columnrow/Resources/Private/Language/locallang_be.xlf:add_row_class" />: <em>'{additionalRowClass}'</em></f:if> )
		<style>
			.flux-collapse[data-grid-uid="{row.uid}"] > .t3-grid-container > table  > tbody > tr:before {
				{config.backgroundRowStyle};;
			}
		</style>
	</p>	
	<f:if condition="{columns}">
		<f:for each="{columns}" as="sectionObject" iteration="iteration">
			<f:variable name="colBackground" value="" />
			<f:if condition="{sectionObject.column.col-background-choose} == '1'">
				<f:then>
					<f:if condition="{sectionObject.column.col-background-color} != 'default' && {sectionObject.column.col-background-color} != 'user'">
						<f:then>
							<f:variable name="colBackground" value="background:{sectionObject.column.col-background-color};" />
						</f:then>
						<f:else if="{sectionObject.column.col-background-color} == 'user'">
							<f:variable name="colBackground" value="background:{sectionObject.column.col-user-background-color};" />
						</f:else>
					</f:if>
				</f:then>
				<f:else if="{sectionObject.column.col-background-choose} == '2'">
					<f:variable name="colBackground" value="background-image:url(/{sectionObject.column.col-background-image});" />
				</f:else>				
			</f:if>
			<f:if condition="{colBackground}">
				<!-- wieder einkommentieren -- style>
					.flux-collapse[data-grid-uid="{row.uid}"] > .t3-grid-container > table  > tbody > tr > td:nth-child({iteration.cycle}):before {
						<f:format.raw>{colBackground}</f:format.raw>
					}
				</style-->
			</f:if>
		</f:for>

		<flux:grid />
	</f:if>
</f:section>


<f:section name="Main">
	<f:variable name="config">{jcl:columnMain(options="{_all}")}</f:variable>
	<f:spaceless>
		<div class="jar-column-row container-fluid<f:if condition="{record.space_before_class}"> frame-space-before-{record.space_before_class}</f:if><f:if condition="{record.space_after_class}"> frame-space-after-{record.space_after_class}</f:if>" style="{config.backgroundRowStyle}">
			
			<div class="container {contentWidth}">
				<div class="row{f:if(condition: additionalRowClass, then: ' {additionalRowClass}')}"> 
					<f:if condition="{columns}">
						<f:then>
							<f:for each="{columns}" as="sectionObject" iteration="iteration" key="key">
								<div data-index="{iteration.index}" class="{config.columns.{key}.colClasses} {f:if(condition: sectionObject.column.additionalColClass, then: '{sectionObject.column.additionalColClass}')}"  style="{config.columns.{key}.colBackground}">				
									<flux:content.render area="column_{iteration.cycle}" />				
								</div>
							</f:for>
						</f:then>
						<f:else>
							<div class="col-xs-12">
								<flux:content.render area="column_1" />	
							</div>
						</f:else>
					</f:if>
				</div>
			</div>
		</div>
	</f:spaceless>
</f:section>
