{namespace v=FluidTYPO3\Vhs\ViewHelpers}
{namespace flux=FluidTYPO3\Flux\ViewHelpers}
{namespace j=J77\J77Template\ViewHelpers}

<f:layout name="Content" />

<f:section name="Configuration">	
	<flux:form id="j77_tabacc" label="Akkordeon-Grid" description="Layoutelement welches Inhalte in einer Akkordeondarstellung anzeigt." options="{group:'Layout', icon:'EXT:jar_columnrow/Resources/Public/Icons/MultiContainer.svg'}">
		<flux:field.input name="title" label="Titel" />
		
		<flux:field.select name="bgColor" label="Hintergrundfarbe" items="{
		    0:{0:'Hellgrau',1:'smoke'},
		    1:{0:'Blau',1:'sky'},
		    2:{0:'Magenta',1:'pink'},
		    3:{0:'Weiß',1:'daylight'},
		    4:{0:'Dunkelblau',1:'ocean'}
		}" />

		<flux:form.section name="columns" label="Container">				
			<flux:form.object name="column" label="Container">							
				<flux:field.input name="title" label="Titel" required="1" />
			</flux:form.object>
		</flux:form.section>



		<flux:grid>
			<f:for each="{columns}" as="sectionObject" iteration="iteration">
				<flux:grid.row>
				   	<flux:grid.column label="{sectionObject.column.title}" name="column_{iteration.cycle}"  colPos="{iteration.cycle}">
				   		<flux:form.variable name="allowedContentTypes" value="shortcut,html,feditorce_feditor_story,image,textmedia,feditorce_feditor_ct_team"/>
				   	</flux:grid.column>
				</flux:grid.row>
			</f:for>
		</flux:grid>

		
	</flux:form>
</f:section>

<f:section name="Preview">	
	<p><strong>Akkordeon-Element</strong></p>
	<flux:grid />
</f:section>


<f:section name="Main">
	<div class="cr">
		<div class="collapsible-group {bgColor}">
			<article class="story acc-story">
				<f:if condition="{title}">	
					<section>
						<h3 class="align-left second"></h3>
						<hr class="fx" />
					</section>
				</f:if>
			</article>
			
			<f:for each="{columns}" as="sectionObject" iteration="iteration">
				<f:alias map="{column: sectionObject.column}">
					<div class="collapse show">
						<section class="collapsible-head">
							<h4 class="fifth align-left midnight">{column.title}</h4>
							<i></i>
						</section>
						<div class="collapsible-content">
							<flux:content.render area="column_{iteration.cycle}" />	
						</div>
					</div>
				</f:alias>
			</f:for>
		</div>
	</div>
</f:section>
