/* Version 2 Styling */

/* Hide first adjustment row, it's just for representing the right sizes of the real used columns */

.jar-columnrow-grid-container>table>tbody>tr:first-child {
    height: 0;
    overflow: hidden;
}

.jar-columnrow-grid-container>table>tbody>tr:first-child>td {
    height: 0;
    overflow: hidden;
    padding: 0;
    background: transparent;
    border: none;
    margin: 0;
}

.jar-columnrow-grid-container>table>tbody>tr:first-child>td>* {
    display: none;
}

/* draw the grid lines */
/*
.jar-columnrow-grid-container>table>tbody>tr>td {
    position: relative;
}

.jar-columnrow-grid-container>table>tbody>tr>td:after {
    content: "";
    position: absolute;
    border-right: 1px solid rgb(205, 205, 205);
    right: 0;
    background: violet;
    top: 43px;
    bottom: 0;
}
*/

/* Draw background */
.jar-columnrow-appearance-background {    
    width: 100%;
    display: block;
    top: 72px;
    position: absolute;
    background-size: cover;
    opacity: 0.5;
    bottom: 29px;
    pointer-events: none;
}